@charset "UTF-8";

@font-face {
  font-family: "AktivGrotesk";
  font-display: swap;
  src: url("../fonts/AktivGroteskCorp-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "AktivGrotesk";
  font-display: swap;
  src: url("../fonts/AktivGroteskCorp-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "AktivGrotesk";
  font-display: swap;
  src: url("../fonts/AktivGroteskCorp-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "AktivGrotesk";
  font-display: swap;
  src: url("../fonts/AktivGroteskCorp-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

body {
  min-width: 320px;
  margin: 0;
}

.templ {
  background-image: url("../img/promo-bg-1.png");
  background-size: contain;
  padding: 260px 0 200px;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  overflow: hidden;
  font-family: "AktivGrotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #161833;
  background: #EAEDF5;
}

body::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

img {
  max-width: 100%;
}

.scroll-container {
  height: 4000px;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0 18.5vh;
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 18.5vh 0;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.content-wrapper {
  height: 100%;
  padding: 48px;
  border-radius: 80px;
}

.content-wrapper .slider-pagination {
  text-align: center;
  position: absolute;
  bottom: 0 !important;
  -webkit-transform: translateY(calc(100% + 19px));
      -ms-transform: translateY(calc(100% + 19px));
          transform: translateY(calc(100% + 19px));
}

.content-wrapper .slider-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border: 2px solid #C0C3CA;
  opacity: 1;
  background: none !important;
}

.content-wrapper .slider-pagination .swiper-pagination-bullet-active {
  background: #41475C !important;
  border: 2px solid #41475C;
}

.down-button,
.top-button {
  z-index: 500;
  position: fixed;
  left: 64px;
  bottom: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 72px;
  height: 72px;
  background: #FFFFFF;
  background-blend-mode: soft-light;
  -webkit-box-shadow: 0px 11px 50px rgba(199, 202, 209, 0.0979021), inset 0px 0px 40px rgba(255, 255, 255, 0.15);
          box-shadow: 0px 11px 50px rgba(199, 202, 209, 0.0979021), inset 0px 0px 40px rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(27.1828px);
          backdrop-filter: blur(27.1828px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 64px;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  cursor: pointer;
}

.down-button img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.top-button {
  display: none;
}

.top-button img {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.rewiews {
  z-index: 999;
  position: fixed;
  right: 72px;
  bottom: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.rewiews p {
  margin-right: 32px;
  font-size: 17px;
  line-height: 25px;
  /* identical to box height, or 147% */
  color: #070707;
  opacity: 0.4;
}

.rewiews .like-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56px;
  height: 56px;
  margin-left: 120px;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.rewiews .like-button img {
  position: absolute;
}

.rewiews .like-button .likd-img {
  display: none;
}

.rewiews .like-button-active .likd-img {
  display: block;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.rewiews-show {
  bottom: 72px;
}

.consultation-button {
  position: absolute;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consultation-button img {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 56px;
  margin-right: 24px;
}

.consultation-button p {
  font-weight: 500;
  font-size: 21px;
  line-height: 30px;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.mobile-menu {
  z-index: 999;
  position: fixed;
  top: 110vh;
  width: 100%;
  height: 100vh;
  padding: 15vh 80px 18vh;
  background: #EAEDF5;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.mobile-menu .content-wrapper {
  padding: 16vh 30px 30px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(102, 104, 130, 0.02)), to(rgba(102, 104, 130, 0.02)));
  background: -o-linear-gradient(bottom, rgba(102, 104, 130, 0.02), rgba(102, 104, 130, 0.02));
  background: linear-gradient(0deg, rgba(102, 104, 130, 0.02), rgba(102, 104, 130, 0.02));
  background-blend-mode: normal, soft-light;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}

.mobile-menu li {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  color: #666882;
  -webkit-transform: translate(0, 15px);
      -ms-transform: translate(0, 15px);
          transform: translate(0, 15px);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.mobile-menu li:nth-child(2) {
  -webkit-transform: translate(0, 35px);
      -ms-transform: translate(0, 35px);
          transform: translate(0, 35px);
}

.mobile-menu li:nth-child(3) {
  -webkit-transform: translate(0, 45px);
      -ms-transform: translate(0, 45px);
          transform: translate(0, 45px);
}

.mobile-menu li:nth-child(4) {
  -webkit-transform: translate(0, 55px);
      -ms-transform: translate(0, 55px);
          transform: translate(0, 55px);
}

.mobile-menu li:not(:last-child) {
  margin-bottom: 30px;
}

.mobile-menu .mobile-menu-link-active {
  color: #161833;
}

.mobile-menu .consultation-button {
  -webkit-transform: translate(0, 75px);
      -ms-transform: translate(0, 75px);
          transform: translate(0, 75px);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu-active {
  top: 0;
}

.menu-active li,
.menu-active .consultation-button {
  -webkit-transform: translate(0, 0) !important;
      -ms-transform: translate(0, 0) !important;
          transform: translate(0, 0) !important;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 18.5vh;
  padding-left: calc(18.5vh + 48px);
  padding-right: calc(18.5vh + 48px);
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li:not(:first-child) {
  margin-left: 80px;
}

header ul li:last-child {
  margin-left: 64px;
}

header .menu-link {
  position: relative;
  display: block;
  font-size: 17px;
  line-height: 147%;
  color: #35385A;
}

header .menu-link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 0;
  height: 2px;
  background: #CFD1DC;
  border-radius: 8px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

header .menu-link-active::after {
  width: 16px;
}

header .contact-link {
  padding: 13px 30px;
  overflow: hidden;
  color: #fff;
  border-radius: 50px;
}

header .contact-link::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  background-color: black;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

header .menu-button {
  display: none;
  position: relative;
  width: 45px;
  height: 45px;
}

header .menu-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 2px;
  background: #070707;
  border-radius: 1px;
  -webkit-transform: translate(-50%, -4px) rotate(0);
      -ms-transform: translate(-50%, -4px) rotate(0);
          transform: translate(-50%, -4px) rotate(0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

header .menu-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 2px;
  background: #070707;
  border-radius: 1px;
  -webkit-transform: translate(-50%, 4px) rotate(0);
      -ms-transform: translate(-50%, 4px) rotate(0);
          transform: translate(-50%, 4px) rotate(0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

header .mobile-button-active::before {
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
      -ms-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

header .mobile-button-active::after {
  -webkit-transform: translate(-50%, -50%) rotate(-135deg);
      -ms-transform: translate(-50%, -50%) rotate(-135deg);
          transform: translate(-50%, -50%) rotate(-135deg);
}

.promo {
  background: #EAEDF5;
}

.promo .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo img {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 200px;
  height: 100%;
  mix-blend-mode: luminosity;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.promo .promo-description {
  margin-bottom: 40px;
  padding-left: 48px;
  font-size: 21px;
  line-height: 143%;
  color: #666882;
}

.promo h1 {
  padding-left: 48px;
  font-size: 88px;
  line-height: 115%;
  font-weight: 100;
}

.promo h1 span {
  font-weight: 700;
}

.description .content-wrapper {
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5)));
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  background-blend-mode: normal, soft-light;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.description .description-slider {
  height: 100%;
}

.description .swiper-wrapper {
  height: 100%;
}

.description .swiper-slide {
  height: auto;
}

.description .description-slide {
  position: relative;
  padding-bottom: 211px;
  border-radius: 48px;
  overflow: hidden;
}

.description .description-slide__img-contaier {
  position: relative;
  width: 100%;
  height: 100%;
}

.description .description-slide__img {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  border-radius: 48px 48px 0px 0px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.description .description-slide__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}

.description .description-slide__img img {
  bottom: -20%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 120%;
  max-width: 120%;
  height: 120%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: luminosity;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}

.description .description-slide__text {
  position: absolute;
  top: calc(100% - 211px);
  left: -1px;
  overflow-y: hidden;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  padding: 40px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(102, 104, 130, 0.02)), to(rgba(102, 104, 130, 0.02))), #EAEDF5;
  background: -o-linear-gradient(bottom, rgba(102, 104, 130, 0.02), rgba(102, 104, 130, 0.02)), #EAEDF5;
  background: linear-gradient(0deg, rgba(102, 104, 130, 0.02), rgba(102, 104, 130, 0.02)), #EAEDF5;
  background-blend-mode: normal, soft-light;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.description .description-slide__text h2 {
  font-weight: 500;
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 30px;
}

.description .description-slide__text ul {
  background: -o-linear-gradient(269.83deg, #676E7F 0.15%, rgba(103, 110, 127, 0) 100px);
  background: linear-gradient(180.17deg, #676E7F 0.15%, rgba(103, 110, 127, 0) 100px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-transition: 5.3s;
  -o-transition: 5.3s;
  transition: 5.3s;
}

.description .description-slide__text li {
  font-size: 15px;
  line-height: 24px;
}

.description .description-slide:nth-child(1) .description-slide__img {
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.description .description-slide:nth-child(2) .description-slide__img {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.description .description-slide:nth-child(3) .description-slide__img {
  -webkit-transition-delay: 0.7s;
       -o-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.description .description-slide:nth-child(4) .description-slide__img {
  -webkit-transition-delay: 0.8s;
       -o-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.description .description-slide__text_active .description-slide__img::after {
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}

.description .description-slide__text_active .description-slide__img img {
  width: 100%;
  height: 100%;
}

.description .description-slide__text_active .description-slide__text {
  top: -1px;
}

.description .description-slide__text_active .description-slide__text ul {
  background: -webkit-gradient(linear, left top, left bottom, from(#676E7F), color-stop(27.88%, #676E7F));
  background: -o-linear-gradient(top, #676E7F 0%, #676E7F 27.88%);
  background: linear-gradient(180deg, #676E7F 0%, #676E7F 27.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.active-section-static .description-slide__img {
  bottom: 0;
  height: 100%;
}

.documents .content-wrapper {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.documents .documents-slider,
.documents .swiper-wrapper {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.documents .swiper-slide {
  padding: 35px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(102, 104, 130, 0.06)), to(rgba(102, 104, 130, 0.06)));
  background: -o-linear-gradient(bottom, rgba(102, 104, 130, 0.06), rgba(102, 104, 130, 0.06));
  background: linear-gradient(0deg, rgba(102, 104, 130, 0.06), rgba(102, 104, 130, 0.06));
  background-blend-mode: normal, soft-light;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 48px;
}

.documents .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.documents .slider-button-next {
  z-index: 100;
  position: absolute;
  right: 174px;
  bottom: 34px;
  width: 10vh;
  height: 10vh;
  max-width: 80px;
  max-height: 80px;
  border: 1px solid #CFD1DC;
  border-radius: 50%;
  cursor: pointer;
}

.documents .slider-button-next img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.documents .slider-button-prev {
  z-index: 100;
  position: absolute;
  left: 174px;
  bottom: 34px;
  width: 10vh;
  height: 10vh;
  max-width: 80px;
  max-height: 80px;
  border: 1px solid #CFD1DC;
  border-radius: 50%;
  cursor: pointer;
}

.documents .slider-button-prev img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
      -ms-transform: translate(-50%, -50%) rotate(-180deg);
          transform: translate(-50%, -50%) rotate(-180deg);
}

.documents .docs-pagination {
  display: none;
}

.documents .swiper-horizontal > .swiper-pagination-bullets,
.documents .swiper-pagination-bullets.swiper-pagination-horizontal,
.documents .swiper-pagination-custom,
.documents .swiper-pagination-fraction {
  -webkit-transform: translate(-50%, calc(100% + 19px)) !important;
      -ms-transform: translate(-50%, calc(100% + 19px)) !important;
          transform: translate(-50%, calc(100% + 19px)) !important;
}

.documents .swiper-horizontal > .swiper-pagination-bullets span,
.documents .swiper-pagination-bullets.swiper-pagination-horizontal span,
.documents .swiper-pagination-custom span,
.documents .swiper-pagination-fraction span {
  -webkit-transform: scale(1) !important;
      -ms-transform: scale(1) !important;
          transform: scale(1) !important;
}

.about .container {
  padding-bottom: 12.5px;
}

.about .content-wrapper {
  position: relative;
  height: 66.5vh;
  padding: 70px 80px 40px 80px;
  background: rgba(102, 104, 130, 0.05);
  background-blend-mode: normal, soft-light;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  overflow: hidden;
}

.about .about-text-scroll {
  position: relative;
  overflow-y: hidden;
  height: calc(66.5vh - 241px);
  -webkit-transform: translate(0, 40px);
      -ms-transform: translate(0, 40px);
          transform: translate(0, 40px);
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition: 1.6s;
  -o-transition: 1.6s;
  transition: 1.6s;
  /* Работает в Chrome, Edge и Safari */
}

.about .about-text-scroll::before {
  z-index: 100;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(102, 104, 130, 0)), to(rgba(102, 104, 130, 0.02)));
  background: -o-linear-gradient(bottom, rgba(102, 104, 130, 0), rgba(102, 104, 130, 0.02));
  background: linear-gradient(0deg, rgba(102, 104, 130, 0), rgba(102, 104, 130, 0.02));
  background-blend-mode: normal, soft-light;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.about .about-text-scroll::after {
  z-index: 100;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(70.4%, rgba(249, 249, 249, 0.94)));
  background: -o-linear-gradient(bottom, #fff 0%, rgba(249, 249, 249, 0.94) 70.4%);
  background: linear-gradient(0deg, #fff 0%, rgba(249, 249, 249, 0.94) 70.4%);
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.about .before-opacity::before {
  opacity: 1;
}

.about .after-opacity::after {
  opacity: 1;
}

.about .about-text-scroll-content {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.about .about-text {
  width: 41%;
  overflow: hidden;
}

.about h2 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 88px;
  line-height: 115%;
}

.about p {
  font-size: 17px;
  line-height: 26px;
}

.about p:not(:last-child) {
  margin-bottom: 25px;
}

.about .about-img {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 5%;
  height: 100%;
  mix-blend-mode: luminosity;
}

.active-section .about-text-scroll {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.contact h2 {
  margin-left: 48px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 88px;
  line-height: 115%;
}

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  padding: 50px 48px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(102, 104, 130, 0.05)), to(rgba(102, 104, 130, 0.05)));
  background: -o-linear-gradient(bottom, rgba(102, 104, 130, 0.05), rgba(102, 104, 130, 0.05));
  background: linear-gradient(0deg, rgba(102, 104, 130, 0.05), rgba(102, 104, 130, 0.05));
  background-blend-mode: normal, soft-light;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  -webkit-transform: translate(0, 40px);
      -ms-transform: translate(0, 40px);
          transform: translate(0, 40px);
  -webkit-transition: 1.9s;
  -o-transition: 1.9s;
  transition: 1.9s;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.contact .contact-text-wrapper,
.contact .wpcf7 {
  width: 50%;
}

.contact .contact-text__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-text__item:not(:last-child) {
  margin-bottom: 30px;
}

.contact .contact-text__item img {
  margin-right: 30px;
}

.contact .contact-text__item a {
  display: block;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .form-inputs {
  position: relative;
  width: 332px;
  padding-top: 30px;
}

.contact .form-inputs::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #CFD1DC;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.contact input,
.contact textarea {
  border: none;
  width: 100%;
  display: block;
  background: none;
  font-family: "AktivGrotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #959FB1;
  font-size: 21px;
  line-height: 30px;
  /* identical to box height, or 143% */
  /* Natural/#35385A */
  color: #35385A;
}

.contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder {
  font-size: 21px;
  line-height: 30px;
  font-family: "AktivGrotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.contact input::-moz-placeholder, .contact textarea::-moz-placeholder {
  font-size: 21px;
  line-height: 30px;
  font-family: "AktivGrotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.contact input:-ms-input-placeholder, .contact textarea:-ms-input-placeholder {
  font-size: 21px;
  line-height: 30px;
  font-family: "AktivGrotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.contact input::-ms-input-placeholder, .contact textarea::-ms-input-placeholder {
  font-size: 21px;
  line-height: 30px;
  font-family: "AktivGrotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.contact input::placeholder,
.contact textarea::placeholder {
  font-size: 21px;
  line-height: 30px;
  font-family: "AktivGrotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.contact textarea {
  margin-top: 64px;
  resize: none;
  overflow: hidden;
}

.contact button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  margin-left: 122px;
  background: none;
  border: 1px solid #CFD1DC;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("../img/right-arrov.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contact button::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -o-linear-gradient(117.6deg, #7889F7 -59.92%, #75A2F8 100%);
  background: linear-gradient(332.4deg, #7889F7 -59.92%, #75A2F8 100%);
  border-radius: 16px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
      -ms-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.contact button::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 16px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
      -ms-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.contact .successful-massage {
  display: none;
  width: 332px;
  padding-top: 30px;
}

.contact .successful-massage h5 {
  margin-bottom: 16px;
  font-size: 21px;
  line-height: 30px;
  /* identical to box height, or 143% */
  /* Natural/#35385A */
  color: #35385A;
}

.contact .successful-massage p {
  font-size: 21px;
  line-height: 30px;
  color: #959FB1;
}

.contact .submit-button-active::before {
  opacity: 1;
}

.contact .error-button::before {
  opacity: 1;
  background: -o-linear-gradient(117.6deg, #ff3333 -59.92%, #ff3333 100%);
  background: linear-gradient(332.4deg, #ff3333 -59.92%, #ff3333 100%);
}

.contact .successful-button {
  background-image: url("../img/sucsess-button.svg");
}

.contact .successful-button::after {
  opacity: 1;
  background: -o-linear-gradient(317.37deg, #0FFFB7 -32.07%, #3FC5FF 81.57%);
  background: linear-gradient(132.63deg, #0FFFB7 -32.07%, #3FC5FF 81.57%);
}

.contact .wpcf7-response-output,
.contact .wpcf7-not-valid-tip {
  display: none !important;
}

.consultation {
  margin-top: 82px;
  margin-left: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-transform: translate(0, 40px);
      -ms-transform: translate(0, 40px);
          transform: translate(0, 40px);
  -webkit-transition: 2.2s;
  -o-transition: 2.2s;
  transition: 2.2s;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.consultation img {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-right: 24px;
}

.consultation .consultation-content {
  max-width: 330px;
}

.consultation .consultation-title {
  font-weight: 500;
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 8px;
}

.consultation .consultation-text {
  font-size: 15px;
  line-height: 26px;
  color: #666882;
}

.contact-consultation-mpbile {
  position: absolute;
  top: 42px;
  display: none;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.active-section .content-wrapper {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.active-section .consultation {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.contact-mobile {
  display: none;
}

.contact-mobile h2 {
  position: absolute;
  top: 40px;
  left: 30px;
  margin: 0;
  font-size: 36px;
  line-height: 125%;
}

.contact-mobile .content-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 40px 32px;
}

.contact-mobile .contact-text-wrapper {
  display: block;
  width: 100%;
}

.contact-mobile .contact-text__item {
  margin-bottom: 24px;
}

.contact-mobile .contact-text__item a {
  font-size: 17px;
  line-height: 30px;
}

.contact-mobile .contact-text__item img {
  margin-right: 16px;
}

.site-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.anmation-section {
  z-index: 1;
  visibility: hidden;
  position: fixed;
}

.weiting-section {
  display: none;
}

.prev-out {
  display: block;
}

.prev-section {
  visibility: visible;
  top: 0;
}

.next-section {
  display: block;
}

.active-section {
  visibility: visible;
  display: block;
  top: 0;
}

.section-pagination {
  z-index: 100;
  position: fixed;
  left: 9.3vh;
  top: 50vh;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-pagination-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #C0C3CA;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.section-pagination-item:not(:last-child) {
  margin-bottom: 40px;
}

.section-pagination-item::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border: 2px solid #C0C3CA;
  border-radius: 50%;
  scale: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.pagination-item-active {
  border: 2px solid #41475C;
  background: #41475C;
}

.pagination-item-active::before {
  scale: 1;
}

.prev-button {
  position: fixed;
  left: 40px;
  bottom: 100px;
  z-index: 999;
  width: 40px;
  height: 40px;
  background-color: gainsboro;
  border-radius: 50%;
  cursor: pointer;
}

.next-button {
  position: fixed;
  left: 40px;
  bottom: 40px;
  z-index: 999;
  width: 40px;
  height: 40px;
  background-color: gainsboro;
  border-radius: 50%;
  cursor: pointer;
}

.top {
  position: fixed;
  left: 100px;
  bottom: 100px;
  z-index: 999;
  width: 40px;
  height: 40px;
  background-color: gainsboro;
  border-radius: 50%;
  cursor: pointer;
}

.prev-out {
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp;
  -webkit-animation-duration: 1.3s !important;
          animation-duration: 1.3s !important;
  -webkit-transition-duration: 1.3s !important;
       -o-transition-duration: 1.3s !important;
          transition-duration: 1.3s !important;
  -webkit-animation-iteration-count: 1 !important;
          animation-iteration-count: 1 !important;
}

.active-section-reverse {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 1.3s !important;
          animation-duration: 1.3s !important;
  -webkit-transition-duration: 1.3s !important;
       -o-transition-duration: 1.3s !important;
          transition-duration: 1.3s !important;
  -webkit-animation-iteration-count: 1 !important;
          animation-iteration-count: 1 !important;
}

.active-section {
  -webkit-animation-name: activeIn;
          animation-name: activeIn;
  -webkit-animation-duration: 1.3s !important;
          animation-duration: 1.3s !important;
  -webkit-transition-duration: 1.3s !important;
       -o-transition-duration: 1.3s !important;
          transition-duration: 1.3s !important;
  -webkit-animation-iteration-count: 1 !important;
          animation-iteration-count: 1 !important;
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
    scale: 1;
  }

  71% {
    opacity: 0;
  }

  90% {
    opacity: 0;
    scale: 0.8;
    -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 0;
    scale: 0.8;
    -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    scale: 1;
  }

  71% {
    opacity: 0;
  }

  90% {
    opacity: 0;
    scale: 0.8;
    -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 0;
    scale: 0.8;
    -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    scale: 0.8;
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fadeInUp {
  from {
    scale: 0.8;
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@-webkit-keyframes activeIn {
  from {
    opacity: 0.8;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes activeIn {
  from {
    opacity: 0.8;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media screen and (min-width: 993px) {
  .description .description-slide:hover .description-slide__img img {
    width: 100%;
  }

  .description .description-slide:hover .description-slide__img::after {
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px);
  }

  .description .description-slide:hover .description-slide__text {
    top: -1px;
  }

  .description .description-slide:hover .description-slide__text ul {
    background: -webkit-gradient(linear, left top, left bottom, from(#676E7F), color-stop(27.88%, #676E7F));
    background: -o-linear-gradient(top, #676E7F 0%, #676E7F 27.88%);
    background: linear-gradient(180deg, #676E7F 0%, #676E7F 27.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .documents .content-wrapper {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5)));
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    background-blend-mode: normal, soft-light;
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
  }

  .documents .swiper-slide {
    height: 82%;
    padding: 35px;
    scale: 0.7;
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
  }

  .documents .swiper-slide-next {
    scale: 1.2;
  }
}

@media screen and (max-width: 1200px) {
  section {
    padding: 0 80px;
  }

  header ul li:not(:last-child) {
    margin-right: 16px;
  }

  header .menu-button {
    display: block;
  }

  .promo h1 {
    font-size: 72px;
  }
}

@media screen and (max-width: 992px) {
  .content-wrapper {
    border-radius: 48px;
  }

  .container {
    padding: 15vh 0;
  }

  header {
    padding: 0 80px;
  }

  header ul {
    display: none;
  }

  header {
    height: 15vh;
  }

  .promo img {
    max-width: 150vw;
    right: -22vw;
    height: auto;
    width: 150vw;
  }

  .promo h1 {
    padding-left: 0;
  }

  .promo .promo-description {
    margin-top: auto;
    padding-left: 0;
  }

  .documents {
    padding: 0;
  }

  .documents .content-wrapper {
    padding: 0;
    border-radius: 0;
  }

  .documents .slider-button-prev,
  .documents .slider-button-next {
    display: none;
  }

  .documents .docs-pagination {
    display: block;
  }

  .about .container {
    padding-bottom: 5vh;
  }

  .about .content-wrapper {
    height: 100%;
    padding: 50px 30px 30px;
  }

  .about h2 {
    font-size: 42px;
  }

  .about .about-img {
    display: none;
  }

  .about .about-text {
    width: 100%;
  }

  .contact .successful-massage {
    width: 332px;
    padding-top: 30px;
  }

  .contact .successful-massage h5 {
    font-size: 17px;
    line-height: 30px;
  }

  .contact .successful-massage p {
    font-size: 17px;
    line-height: 30px;
  }

  .contact-text-wrapper {
    display: none;
  }

  .contact-desctop h2 {
    display: none;
  }

  .contact-desctop .content-wrapper {
    padding: 40px 32px;
  }

  .contact-desctop form,
  .contact-desctop .wpcf7 {
    width: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.8s;
         -o-transition-delay: 0.8s;
            transition-delay: 0.8s;
  }

  .contact-desctop form {
    padding-top: 50vw;
  }

  .contact-desctop .content-wrapper {
    display: block;
    height: 100%;
  }

  .contact-desctop .submit-button {
    position: absolute;
    margin: 0;
    left: 32px;
    bottom: 40px;
  }

  .contact-consultation-mpbile {
    display: block;
    margin-top: 0;
    margin-left: 0;
  }

  .contact-consultation-desctop {
    display: none;
  }

  .section-pagination {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  section {
    padding: 0 32px;
  }

  .container {
    padding: 80px 0;
  }

  .rewiews {
    display: none;
  }

  .down-button,
  .top-button {
    bottom: 24px;
    left: 32px;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .promo .promo-description {
    font-size: 15px;
    margin-bottom: 16px;
  }

  .promo h1 {
    font-size: 36px;
    padding-bottom: 8vh;
  }

  .promo img {
    top: 1vh;
  }
}

@media screen and (max-width: 570px) {
  .prev-out {
    -webkit-animation-name: fadeOutUp;
            animation-name: fadeOutUp;
    -webkit-animation-duration: 0.7s !important;
            animation-duration: 0.7s !important;
    -webkit-transition-duration: 0.7s !important;
         -o-transition-duration: 0.7s !important;
            transition-duration: 0.7s !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
  }

  .active-section-reverse {
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
    -webkit-animation-duration: 0.7s !important;
            animation-duration: 0.7s !important;
    -webkit-transition-duration: 0.7s !important;
         -o-transition-duration: 0.7s !important;
            transition-duration: 0.7s !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
  }

  .active-section {
    -webkit-animation-name: activeIn;
            animation-name: activeIn;
    -webkit-animation-duration: 0.7s !important;
            animation-duration: 0.7s !important;
    -webkit-transition-duration: 0.7s !important;
         -o-transition-duration: 0.7s !important;
            transition-duration: 0.7s !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
  }
}

@media screen and (max-width: 560px) {
  .mobile-menu {
    padding: 80px 30px;
  }

  header {
    height: 80px;
    padding: 0 32px;
  }

  header .logo img {
    width: 102px;
  }

  .description {
    padding: 0;
  }

  .description .content-wrapper {
    padding: 0;
    background: none !important;
  }

  .description .description-slide__img {
    bottom: 0;
    height: 100%;
  }

  .description .description-slide__img img {
    top: 0;
  }

  .description .description-slide__img img {
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .description .description-slide__text {
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
  }

  .about .about-text-scroll {
    overflow-y: hidden;
    height: calc(95vh - 229px);
  }

  .about h2 {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 125%;
    font-size: 36px;
    line-height: 125%;
  }

  .about .content-wrapper {
    padding: 40px 32px;
  }

  .contact-desctop .container {
    position: relative;
    overflow: hidden;
  }

  .contact-desctop .content-wrapper {
    position: absolute;
    top: 80px;
    left: 0;
    width: calc(100vw - 64px);
    height: calc(100vh - 160px);
  }
}